* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  h1,
  h2 {
    font-family: "Merriweather", serif;
  }
body {
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    padding: 40px;
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    color: #fff;
}
.container {
    max-width: 900px;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.news-item img {
    width: 100%;
    border-radius: 12px;
}
.news-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
}
.news-category {
    background: #ff4757;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}
.news-title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 15px;
}
.news-content {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
}
.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s;
    box-shadow: 0 5px 15px rgba(42, 89, 255, 0.3);
}
.back-btn:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
    transform: translateY(-3px);
}
